{% extends "base.html" %}

{% block title %}Books – Don Fox{% endblock %}

{% block head_extra %}
  <meta name="description" content="A curated list of computing and mathematics books recommended by Don Fox, covering programming, logic, and deep theory.">
  <meta name="author" content="Don Fox">
{% endblock %}

{% block content %}
<div class="container mt-4">
  <main>
    <section class="computing mt-4">
      <h2>Favorite Books Related to Computing</h2>
      <ul>
        <li>
          <strong>Gödel, Escher, Bach: An Eternal Golden Braid</strong><br>
          <i>Douglas R. Hofstadter</i>
          <p>
            The term <i>"hard problem"</i> of consciousness had not yet to be coined by pholosopher David Clamers when Hofstadter wrote <i>"Godel, Escher, Bach: an Eternal Golden Braid"</i>  so it is never mentioned by name in the book. The "hard problem" of consciousness — i.e  how a self can arise from non-self entities is beautilly explored in context of meta-mathematics and theoretical computer science from the prospective of reductionism and scientific materialism. While this is not my prospective I found that looking at the subject from a different angle was helpful. This book got me interescted computing to begin with</p> 
          <p><a href="https://www.youtube.com/watch?v=lWZ2Bz0tS-s" target="_blank">MIT Lecture on Gödel, Escher, Bach</a></p>
        </li>

        <li>
          <strong>The Pragmatic Programmer: From Journeyman to Master</strong><br>
          <i>Andrew Hunt, David Thomas</i>
          <p>
            Essential tips and best practices for software development, helping programmers enhance their problem-solving skills and deepen their craft. <i>The Pragmatic Programmer</i> is now something of a classic that brings out, implicitly, that software development is a profession, a life-style, that comes with definite set of attitudes and interests. This could be called the philosophy of programming.
          </p>
          <p><a href="https://pragprog.com/titles/tpp20/the-pragmatic-programmer-20th-anniversary-edition/" target="_blank">Official Website</a></p>
        </li>

        <li>
          <strong>Pragmatic Thinking & Learning: Refactor Your Wetware</strong><br>
          <i>Andy Hunt</i>
          <p>
            Delves into cognitive science and learning theory to offer techniques for improving programming skills. It's a book that's, in a way, the sequal to <i> Pragmatic Programmer</i>, with more tips and tools to bring to programming.
          </p>
          <p><a href="https://pragprog.com/titles/ahptl/pragmatic-thinking-and-learning/" target="_blank">Official Website</a></p>
        </li>

        <li>
          <strong>Land of Lisp</strong><br>
          <i>Conrad Barski, M.D </i>
          <p>
            A playful, cartoon-filled introduction to Common Lisp by Conrad Barski. 
            Instead of dry examples, it teaches programming through interactive games 
            and quirky humor, making one of the oldest functional languages accessible 
            and fun to learn. 
          </p>
          <p><a href="https://nostarch.com/lisp" target="_blank">Publisher Page</a></p>
        </li>

        <li>
          <strong>Learn You a Haskell for Great Good!</strong><br>
          <i>Miran Lipovaca
          <p>
            A whimsical, illustrated guide to Haskell that blends humor with clear 
            explanations. Beloved for its informal style, it introduces functional 
            programming concepts like recursion, types, and monads in an approachable way, 
            while retaining solid depth for serious learners.
          </p>
          <p><a href="http://learnyouahaskell.com/" target="_blank">Official Website</a></p>
        </li>

        <li>
          <strong>The Little Schemer</strong><br>
          <i>Daniel P. Freedman and Matthias Felleisen</i>
          <p>
            This book the introduces basic mata-mathematical concepts, that you play with on your computer with the scheme programming language. These concepts are just aruthmetic, algebra and Logic, high school math along with recursion and thr limits of computabiity.  This is what computing is really all about. 
          </p>
            This is the first of a series of similar related books.
            <h4>Other books in the “Little” series</h4>
            <ul>
              <li><a href="https://mitpress.mit.edu/9780262561006/the-seasoned-schemer/" target="_blank">The Seasoned Schemer</a></li>
              <li><a href="https://mitpress.mit.edu/9780262535519/the-reasoned-schemer/" target="_blank">The Reasoned Schemer</a></li>
              <li>The Little Schemer</li>
              <li>The Seasoned Schemer</li>
              <li>The Reasoned Schemer</li>
              <li>The Little Prover</li>
              <li>The Little Typer</li>
              <li>The Little MLer</li>
              <li>A Little Java, A Few Patterns</li>
              <li>The Little Learner</li>
            </ul>
         
          <p><a href="https://www.amazon.com/Little-Schemer-Daniel-P-Friedman/dp/0262560992" target="_blank">On Amazon</a>
        </li>

        <li>
          <strong>The Art of Functional Programming</strong><br>
          <i>Minh Quang Tran</i>
          <p>
            A clear and engaging introduction to the principles of functional programming, suitable for developers of any skill level. The book uses OCaml, Haskell, and Java to illustrate key concepts in a simple and accessible way, highlighting the elegance of this powerful paradigm. Of all the resources I’ve read, this is the best entry point into functional programming—it reshapes how you think about coding and problem solving.
          </p>
          <p><a href="https://pragprog.com/titles/d-qtmart/the-art-of-functional-programming/" target="_blank">Official Website</a></p>
          <p><a href="https://www.youtube.com/watch?v=pHtxzF-ffO0I">Book Review on YouTube</a></p>
        </li>

        <li>
          <strong>The Secret Life of Programs</strong><br>
          <i>Jonathan E. Steinhart</i>
          <p>A compendium of fundamental computer science concepts, clearly explained and well-organized. It explores the underlying ideas and technologies that make our programs work — the kind of knowledge we should already have, but often don’t. As software developers, we can fall into the habit of thinking only in terms of programming languages, the operating system, and the immediate tools we use to create and run processes. This book expands that perspective in an enjoyable and accessible way.</p>
         <p><a href="https://www.youtube.com/watch?v=oHaWc6PLo74">Book Review on YouTube</a></p>
        </li>

      </ul>
    </section>

    <section class="mathematics mt-4">
      <h2>Mathematics Books I Like</h2>
      <ul>
        <li>
          <strong>Good Math</strong><br>
          <i>Mark C. Chu-Carroll</i>
          <p>
            In <i>Good Math</i>, you’ll explore number theory, logic, proofs, truth trees, and Turing machines—all explained with clarity and engaging examples. 
            The book touches on many aspects of metamathematics and shows how code can be used to explore/play with abstract ideas. Even in topics you’re already familiar with, it offers fresh insights that make mathematics feel both practical and inspiring.
          </p>
          <p><a href="http://www.goodmath.org/blog/" target="_blank">Official Blog Website</a></p>
        </li>

        <li>
          <strong>Math for Programming</strong><br>
          <i> Ronald T. Kneusel</i>
          <p>
            This book offers 16 comprehensive chapters on topics every programmer should know. It’s not only a solid review of mathematics in general, but also a practical guide to applying it in code. The explanations are concise yet thorough, and the Python examples make it hands-on rather than just theory. That’s 
            the real selling point for me. I like pairing this book with <i>The Secret Life of Programs</i> as go-to references—they complement each other perfectly.
          </p>
          <p><a href="https://www.youtube.com/watch?v=oHaWc6PLo74">Web Page</a></p>
        </li>

        <li>
          <strong>Burn Math Class</strong><br>
          <i>Jason Wilkes</i>
          <p>
            Wilkes reimagines what we have bee exposed to in convential math math education reconstructing core concepts from the ground up. He focuses on mathematical notation and howto reinvent it to gain more insight into what it should represent. It's said this book is for those who love math but hated math in school. The Arthor says of math "We have been tesching the subject <i>backwords</i>."
          </p>
        </li>

        <li>
          <strong>International Journal of Mathematics and Consciousness</strong>
          <p>
            This journal explores the intersection of mathematics and human consciousness, addressing 
            one of science’s most profound questions: how subjective awareness arises and operates. 
            It provides a forum for mathematicians, scientists, and thinkers to present rigorous theories 
            that link consciousness with physical and abstract phenomena. Emphasizing strict logical 
            reasoning while encouraging creativity, the journal welcomes both new proposals and 
            well-founded counterarguments. By framing consciousness through the precision of mathematics, 
            it seeks to illuminate how awareness shapes thought, perception, and our understanding of reality.
          </p>
          <p><a href="http://ijmac.miu.edu/index.php/test/issue/archive" target="_blank">Journal Archive</a></p>
        </li>

        <li>
          <strong>Laws of Form</strong><br>
          <i>G. Spencer-Brown</i>
          <p>An influential text introducing a symbolic system underlying logic and mathematics.</p>
          <ul>
            <li><a href="https://homepages.math.uic.edu/~kauffman/Laws.pdf" target="_blank">Laws of Form PDF</a></li>
            <li><a href="https://www.projectenportfolio.nl/images/1/16/Robertson-Laws_of_Form.pdf" target="_blank">Some-thing from No-thing</a></li>
            <li><a href="https://www.youtube.com/watch?v=VvHYDjkp9Qc" target="_blank">Free Course on YouTube</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</div>
{% endblock %}